#remove-selected-point,
#inpost-extra-info {
    display: none;
    position: relative;

    label {
        margin: 0;
    }

    .shipping-method-delivery-info-wrapper {
        margin: 0 0 8px;
    }

    .inpost-logo {
        position: absolute;
        left: -100px;
        top: 9px;
    }
}

#inpost_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    display: none;
}

#widget-modal {
    background: #fff;
    max-width: 90%;
    max-height: 90%;
}

#inpost-point-details {
    display: none;
    margin: 10px 0;
    padding: 5px;
    border-top: 1px solid #ccc;
}

.table-checkout-shipping-method tbody .inpost-td:first-child {
    width: initial;
}
