<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="InPost_Shipment::print_inpost_labels"
             title="Print Inpost Labels"
             module="InPost_Shipment"
             sortOrder="100"
             resource="Magento_Sales::sales_order"/>
    </menu>
</config>
