<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="inpost" translate="label" sortOrder="200">
            <label>inpost</label>
        </tab>
        <section id="carriers" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <group id="inpost" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>InPost Shipping</label>
                <group id="general" translate="label"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>General</label>
                    <field id="inpost_info" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                        <frontend_model>InPost\Shipment\Block\Adminhtml\System\Version</frontend_model>
                    </field>
                    <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                           showInStore="1">
                        <label>Enable For Checkout</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>

                    <field id="price" translate="label" type="text" sortOrder="220" showInDefault="1" showInWebsite="1">
                        <label>Price</label>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                        <validate>validate-zero-or-greater</validate>
                    </field>

                    <field id="sallowspecific" translate="label" type="select" sortOrder="225" showInDefault="1"
                           showInWebsite="1" canRestore="1">
                        <label>Ship to Applicable Countries</label>
                        <frontend_class>shipping-applicable-country</frontend_class>
                        <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                    </field>

                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="230" showInDefault="1"
                           showInWebsite="1">
                        <label>Ship to Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <can_be_empty>1</can_be_empty>
                    </field>


                    <field id="sort_order" translate="label" type="text" sortOrder="290" showInDefault="1"
                           showInWebsite="1" showInStore="1">
                        <depends>
                            <field id="active">1</field>
                        </depends>
                        <label>Sort Order</label>
                    </field>

                    <field id="company_name" translate="label" type="text" sortOrder="300" showInDefault="1"
                           showInWebsite="1" showInStore="1">
                        <depends>
                            <field id="active">1</field>
                        </depends>
                        <validate>required-entry</validate>
                        <label>Company Name</label>
                    </field>

                    <field id="email" translate="label comment" type="text" sortOrder="310" showInDefault="1"
                           showInWebsite="1" showInStore="1">
                        <depends>
                            <field id="active">1</field>
                        </depends>
                        <validate>required-entry validate-email</validate>
                        <label>E-mail</label>
                        <comment>E-mail to receive delivery updates.</comment>
                    </field>

                    <field id="mobile_phone_number" translate="label comment" type="text" sortOrder="320" showInDefault="1"
                           showInWebsite="1" showInStore="1">
                        <depends>
                            <field id="active">1</field>
                        </depends>
                        <validate>required-entry validate-italian-phone-number</validate>
                        <label>Mobile Phone Number</label>
                        <comment>Mobile phone number to receive delivery updates.</comment>
                    </field>
                </group>

                <group id="credentials" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Credentials</label>
                    <field id="debug" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1"
                           showInStore="1">
                        <label>Sandbox mode</label>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="merchant_id" translate="label" type="text" sortOrder="1" showInDefault="1"
                           showInWebsite="1" showInStore="1">
                        <label>Merchant ID</label>
                    </field>
                    <field id="api_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                           showInStore="1">
                        <label>API Key</label>
                    </field>
                </group>

                <group id="flow" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shipment flow</label>

                    <field id="type" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                           showInStore="1">
                        <label>Type</label>
                        <source_model>InPost\Shipment\Config\Source\FlowSources</source_model>
                    </field>

                    <field id="street" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <depends>
                            <field id="type">H2L</field>
                        </depends>
                        <validate>required-entry</validate>
                        <comment>Pick up address for the courier</comment>
                        <label>Street</label>
                    </field>

                    <field id="building" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <depends>
                            <field id="type">H2L</field>
                        </depends>
                        <comment>Pick up address for the courier</comment>
                        <validate>required-entry</validate>
                        <label>Building n.</label>
                    </field>

                    <field id="city" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <depends>
                            <field id="type">H2L</field>
                        </depends>
                        <comment>Pick up address for the courier</comment>
                        <validate>required-entry</validate>
                        <label>City</label>
                    </field>

                    <field id="postcode" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <depends>
                            <field id="type">H2L</field>
                        </depends>
                        <comment>Pick up address for the courier</comment>
                        <validate>required-entry</validate>
                        <label>Post code</label>
                    </field>
                </group>

                <group id="pdfconfig" translate="label"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>PDF</label>
                </group>

                <group id="delivery_options" translate="label"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Delivery options</label>
                    <field id="max_item_weight" translate="label" type="text" sortOrder="290" showInDefault="1"
                           showInWebsite="1" showInStore="1">
                        <depends>
                            <field id="active">1</field>
                        </depends>
                        <label>Max Item Wight</label>
                        <comment>Leave empty or 0 to ignore this setting.</comment>
                    </field>
                    <field id="max_total_cart_weight" translate="label" type="text" sortOrder="290" showInDefault="1"
                           showInWebsite="1" showInStore="1">
                        <depends>
                            <field id="active">1</field>
                        </depends>
                        <label>Max Total Cart Wight</label>
                        <comment>Leave empty or 0 to ignore this setting.</comment>
                    </field>
                </group>

                <group id="automations" translate="label"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Automations</label>
                    <group id="order" translate="label"  showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Order</label>
                        <field id="can_close_orders" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1">
                            <label>Automatically Close Order</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                        <field id="tracking_status" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                               showInStore="1">
                            <label>Tracking Status To Close Order</label>
                            <depends>
                                <field id="can_close_orders">1</field>
                            </depends>
                            <source_model>InPost\Shipment\Model\Config\Source\Tracking\Status</source_model>
                        </field>
                        <field id="order_status" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                               showInStore="1">
                            <label>Order Status</label>
                            <depends>
                                <field id="can_close_orders">1</field>
                            </depends>
                            <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                        </field>
                    </group>
                </group>

                <group id="widget" translate="label"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Widget settings</label>
                    <field id="map_type" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                           showInStore="1">
                        <label>Map type</label>
                        <source_model>InPost\Shipment\Config\Source\MapSources</source_model>
                    </field>

                    <field id="gmaps_api_key" translate="label" type="text" sortOrder="1" showInDefault="1"
                           showInWebsite="1" showInStore="1">
                        <label>Google Maps API key</label>
                        <validate>required-entry</validate>
                        <depends>
                            <field id="map_type">google</field>
                        </depends>
                    </field>

                </group>

                <group id="return" translate="label"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Returns</label>

                    <field id="return_enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>

                    <field id="return_url" translate="label" type="text" sortOrder="220" showInDefault="1" showInWebsite="1">
                        <label>Return url</label>
                        <depends>
                            <field id="return_enable">1</field>
                        </depends>
                    </field>

                    <field id="return_all" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1">
                        <label>Allow returns for all orders</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
