<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
  <system>
    <tab id="inpost" translate="label" sortOrder="200">
      <label>inpost</label>
    </tab>
    <section id="carriers" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
      <group id="inpost" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>InPost Shipping</label>
        <group id="general" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>General</label>
            <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Is active?</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>

            <field id="debug" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Debug mode</label>
                <depends>
                    <field id="active">1</field>
                </depends>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>

            <field id="price" translate="label" type="text" sortOrder="220" showInDefault="1" showInWebsite="1">
                <label>Price</label>
                <depends>
                    <field id="active">1</field>
                </depends>
                <validate>validate-number validate-zero-or-greater</validate>
            </field>

            <field id="specificerrmsg" translate="label" type="textarea" sortOrder="240" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                <depends>
                    <field id="active">1</field>
                </depends>
                <label>Displayed Error Message</label>
            </field>

            <field id="sort_order" translate="label" type="text" sortOrder="290" showInDefault="1" showInWebsite="1" showInStore="1">
                <depends>
                    <field id="active">1</field>
                </depends>
                <label>Sort Order</label>
            </field>
        </group>


        <group id="credentials" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Credentials</label>
           <field id="merchant_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
               <label>Merchant ID</label>
           </field>
          <field id="api_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>API Key</label>
          </field>
        </group>

        <group id="pdfconfig" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>PDF</label>
        </group>

        <group id="options" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Options</label>
        </group>
      </group>
    </section>
  </system>
</config>
