<tr class="row"
    click="element.selectShippingMethod">
    <td class="col col-method">
        <input type="radio"
               class="radio"
               ifnot="method.error_message"
               ko-checked="element.isSelected"
               ko-value="method.carrier_code + '_' + method.method_code"
               attr="'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code,
                    'checked': element.rates().length == 1 || element.isSelected"/>
    </td>
    <!-- ko ifnot: (method.error_message) -->
    <td class="col col-price">
        <each args="element.getRegion('price')" render=""></each>
    </td>
    <!-- /ko -->
    <td class="col col-method"
        attr="'id': 'label_method_' + method.method_code + '_' + method.carrier_code"
        text="method.method_title"></td>
    <td class="col col-carrier"
        attr="'id': 'label_carrier_' + method.method_code + '_' + method.carrier_code"
        text="method.carrier_title"></td>
</tr>
<!-- ko if: (method.method_code == "inpost") -->
<tr class="row" id="inpost-extra-info" data-mage-init='{"validation":{},"customvalidation":{}}'>
    <td colspan="4">
        <div class="fieldset">
            <div class="field _required">
                <label class="label">
                    <strong data-bind="i18n: 'Inpost Pickup Point'"></strong>
                </label>
                <br>
                <div>
                    <a href="#" id="easypack-map-modal-toggler" onclick="openInPostModal(); return false;"
                       data-bind="i18n: 'Open map'"></a>
                </div>
                <div id="inpost-point-details">
                    <strong data-bind="i18n: 'Name:'"></strong> <span class="point-name"></span><br>
                    <strong data-bind="i18n: 'Address:'"></strong> <span class="point-address"></span><br>
                    <strong data-bind="i18n: 'Postcode:'"></strong> <span class="point-postcode"></span><br>
                    <strong data-bind="i18n: 'Opening hours:'"></strong> <span class="point-opening-hours"></span><br>
                </div>
                <a href="#" id="remove-selected-point"
                   onclick="removeSelectedPoint(); return false;"
                   data-bind="i18n: 'Remove'"></a>

                <input id="inpost_selected_point_id" name="inpost_selected_point_id" type="hidden"/>
                <div id="inpost-required-error-message" class="field-error" style="display: none;">
                    <span data-bind="i18n: 'This is a required field.'"></span>
                </div>
                <div id="easypack-map"></div>
                <div id="inpost_overlay"></div>
            </div>
        </div>
    </td>
</tr>
<!-- /ko -->
<tr class="row row-error"
    if="method.error_message">
    <td class="col col-error" colspan="4">
        <div role="alert" class="message error">
            <div text="method.error_message"></div>
        </div>
        <span class="no-display">
            <input type="radio"
                   attr="'value' : method.method_code, 'id': 's_method_' + method.method_code">
        </span>
    </td>
</tr>
